.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  & label {
    font-size: var(--font-16);
    font-weight: 400;
  }

  & span {
    min-height: 16px;
    font-size: var(--font-12);
    color: var(--color-rl);
  }
}

.inputField {
  width: 100%;
  padding: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background: var(--color-gray-300);

  & div {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px 0 0 2px;
    background: var(--color-white);
  }

  & svg {
    width: 14px;
    height: 14px;
    margin-left: 6px;
    color: var(--color-gray-400);
  }

  & input {
    height: 32px;
    width: 100%;
    border: none;
    padding-left: var(--space-8);
    border-radius: 0 2px 2px 0;
    font-size: var(--font-16);
    color: var(--color-gray-700);
    outline: none;
  }
}

.inputActive {
  background: linear-gradient(to left, var(--color-sl), var(--color-pl));

  & svg {
    color: var(--color-pd);
  }
}

.inputError {
  background: var(--color-rl);

  & svg {
    color: var(--color-rl);
  }
}
