*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%; /*1 rem = 10px */
  font-weight: 400;
  line-height: 1.5;

  /* TYPOGRAPHY */
  --font-xs: 1.2rem;
  --font-s: 1.4rem;
  --font-m: 1.6rem;
  --font-l: 1.8rem;
  --header-xs: 1.6rem;
  --header-s: 1.8rem;
  --header-m: 2.2rem;
  --header-l: 2.4rem;
  --header-xl: 2.8rem;
  --header-h: 3.2rem;

  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;

  /* BASE COLORS */
  --color-pl: #2f80e9;
  --color-pd: #1666d0;
  --color-sl: #c535c1;
  --color-sd: #92278f;
  --color-gl: #309c4d;
  --color-gd: #288140;
  --color-rl: #c84c4c;
  --color-rd: #af3636;

  --color-bcg: #f2f4f7;
  --color-font-d: #303636;
  --color-font-l: #fcfcfd;
  --color-white: #fcfcfd;
  --color-black: #070808;

  --color-gray-100: #e4e5e7;
  --color-gray-200: #c9cccf;
  --color-gray-300: #afb2b6;
  --color-gray-400: #94989e;
  --color-gray-500: #797f86;
  --color-gray-600: #61656b;
  --color-gray-700: #494c50;
  --color-gray-800: #303336;
  --color-gray-900: #18191b;

  /* RADIUS */
  --radius-xs: 4px;
  --radius-s: 8px;
  --radius-m: 16px;
  --radius-l: 24px;
  --radius-xl: 32px;

  /* SPACING */
  --space-us: 4px;
  --space-xs: 8px;
  --space-s: 16px;
  --space-m: 24px;
  --space-l: 32px;
  --space-xl: 48px;
  --space-ul: 64px;
  --space-h: 96px;
  --space-xh: 128px;
  --space-uh: 160px;

  /* BOX-SHADOW */
  --shadow-s: rgba(0, 0, 0, 0.08) 0px 1px 2px, rgba(0, 0, 0, 0.12) 0px 1px 2px;
  --shadow-m: rgba(0, 0, 0, 0.08) 0px 1px 2px, rgba(0, 0, 0, 0.12) 0px 2px 4px;
  --shadow-l: rgba(0, 0, 0, 0.12) 0px 2px 6px, rgba(0, 0, 0, 0.12) 0px 4px 6px;
  --shadow-xl: rgba(0, 0, 0, 0.12) 0px 3px 9px, rgba(0, 0, 0, 0.12) 0px 6px 9px;

  /* BREAKPOINTS */
  --bp-mobile: 642px;
  --bp-tablet: 966px;
  --bp-desktop: 1290px;
}

p,
span {
  font-size: 1.6rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
}

button {
  font-size: 1.6rem;
  font-weight: 400;
  background-color: transparent;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  font-size: 2.4rem;
  font-weight: 400;
}

ul {
  list-style-type: none;
}
