.footer {
  width: 100%;
  height: auto;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-s);
  background-color: var(--color-black);
  color: var(--color-white);
}

.border {
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, var(--color-pl), var(--color-sl));
}

.container {
  width: 100%;
  height: 100%;
  max-width: var(--bp-tablet);
  margin: var(--space-48) auto var(--space-24);

  @media (max-width: 642px) {
    max-width: 300px;
  }

  & ul {
    margin: var(--space-24) 0;
    display: flex;
    justify-content: center;
    gap: var(--space-48);
    font-size: var(--font-16);

    @media (max-width: 642px) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: var(--space-16);
    }
  }

  & li {
    @media (max-width: 642px) {
      width: 115px;
    }
  }

  & hr {
    width: 80%;
    margin: 0 auto;
    border-color: var(--color-gray-800);

    @media (max-width: 642px) {
      width: 100%;
    }
  }
}

.localLinks {
  & li {
    @media (max-width: 642px) {
      width: 90px;
    }
  }
}

.localLink {
  font-size: var(--font-18);
  color: var(--color-white);

  @media (max-width: 642px) {
    margin-left: var(--space-8);
  }

  &:hover {
    background: -webkit-linear-gradient(
      180deg,
      var(--color-sl),
      var(--color-pl) 75%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.link {
  display: flex;
  align-items: center;
  font-size: var(--font-16);
  color: var(--color-white);

  @media (max-width: 642px) {
    margin-left: var(--space-8);
  }

  & svg {
    width: 24px;
    height: 24px;
    margin-right: var(--space-8);
  }

  &:hover {
    background: -webkit-linear-gradient(
      180deg,
      var(--color-sl),
      var(--color-pl) 75%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    & svg {
      color: var(--color-pl);
    }
  }
}

.rights {
  margin: var(--space-48) auto var(--space-24);
  font-size: var(--font-12);
}
