.button {
  border: none;
  border-radius: var(--radius-4);
  background: linear-gradient(60deg, var(--color-pd), var(--color-sd) 85%);
  cursor: pointer;

  &:hover {
    box-shadow: var(--shadow-l);
  }

  &:active {
    box-shadow: none;
    transform: translateY(1px);
    background: var(--color-pd);
  }
}

.small {
  padding: 6.5px var(--space-24);
  font-size: var(--header-16);
  font-weight: var(--weight-medium);
  color: var(--color-font-l);
}

.medium {
  padding: var(--space-8) var(--space-24);
  font-size: var(--header-18);
  font-weight: var(--weight-medium);
  color: var(--color-font-l);
}

.disabled {
  background: var(--color-gray-400);

  &:hover {
    box-shadow: none;
  }

  &:active {
    transform: none;
    box-shadow: none;
    background: var(--color-gray-400);
  }
}
